.todoInput {

    margin: 30px;
    margin-left: 50px;
    width: 550px;
}


.todoList {
    margin-left: 50px;
    width: 550px;
    height: 500px;
}

.todoItem {
    min-height: 45px;
    min-width: 300px;
    width: 470px;
}

